<!-- <html>
    <head>
        <title>Profile</title>
        <body>
            <h1>Welcome!Miss <%=name%></h1>
            <h3>Email:<%= data.email%></h3>
            <h3>Address:<%= data.address%></h3>
            <ul>
                <% data.skills.forEach(function(item){%>
                    <li><%=item%></li>
                <%})%>
            </ul>
        </body>
    </head>
</html> -->


<!--common header -->

<html>
    <head>
        <title>Profile</title>
        <body>
        <%-include('common/nav');-%>
            <h1>Welcome!Miss <%=name%></h1>
            <h3>Email:<%= data.email%></h3>
            <h3>Address:<%= data.address%></h3>
            <ul>
                <% data.skills.forEach(function(item){%>
                    <li><%=item%></li>
                <%})%>
            </ul>
        </body>
    </head>
</html>